networks:
        inception:
            driver: bridge


volumes:
        mariadb:
                driver: local
                driver_opts:
                        type: none
                        o: bind
                        device: /home/hlachhab/data/mysql
        wordpress:
                driver: local
                driver_opts:
                        type: none
                        o: bind
                        device: /home/hlachhab/data/wordpress


services:
        mariadb:
                build: requirements/mariadb
                container_name: mariadb
                env_file:
                 - .env
                networks:
                 - inception
                volumes:
                 - mariadb:/var/lib/mysql
                restart: "on-failure"

        wordpress:
                build: requirements/wordpress
                container_name: wordpress
                networks: 
                 - inception
                env_file:
                 - .env
                volumes:
                 - wordpress:/var/www/html
                depends_on:
                 - mariadb
                restart: "on-failure"

        nginx:
                build: requirements/nginx
                container_name: nginx
                networks:
                        - inception
                env_file:
                 - .env
                volumes:
                 - wordpress:/var/www/html
                ports:
                 - "443:443"
                depends_on:
                 - wordpress
                restart: "on-failure"
